## Importing of Libraries

In [24]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
import time
driver = webdriver.Chrome(executable_path='C:\drivers\chromedriver.exe')
driver.get('https://www.totaljobs.com/')
driver.maximize_window()

<ipython-input-24-5499812a07d6>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='C:\drivers\chromedriver.exe')

## Automating the Website

In [25]:
# Dealing with cookie
cookie = driver.find_element(By.XPATH, value='//div[@id="ccmgt_explicit_accept"]')
cookie.click()

# Inputing the job title
job_title = driver.find_element(By.XPATH, value='//input[@placeholder="Job title, skill or company"]')
job_title.click()
job_title.send_keys('Data Scientist')

# Inputing the distance of the job
dropdown= Select(driver.find_element(By.XPATH, value='//select[@id="Radius"]'))
dropdown.select_by_visible_text("30 miles")

# Clicking on the search button
search = driver.find_element(By.ID, value='search-button')
search.click()
time.sleep(2)

## Scraping the Necessary Infomation from the Site

In [39]:
pages = driver.find_element(By.XPATH, value='//div[contains(@class, "PaginationPages")]')
last_page = int(pages.find_element(By.XPATH, value='//div[contains(@class, "PaginationPages")]/a[3]').text)

totaljobs_df = pd.DataFrame(columns=['Job Title', 'Company', 'Job Location', 'Salary', 'Published Date'])

for j in range(last_page):
    time.sleep(5)
    job = driver.find_elements(By.XPATH, value='//a[@data-at="job-item-title"]/h2')
    company = driver.find_elements(By.XPATH, value='//div[@data-at="job-item-company-name"]')
    location = driver.find_elements(By.XPATH, value='//li[@data-at="job-item-location"]')
    salary = driver.find_elements(By.XPATH, value='//dl[@data-at="job-item-salary-info"]')
    date_published = driver.find_elements(By.XPATH, value='//li[@data-at="job-item-timeago"]')
    for i in range(len(job)):
        totaljobs_df = totaljobs_df.append({'Job Title': job[i].text, 'Company': company[i].text,
                                           'Job Location': location[i].text, 'Salary':salary[i].text,
                                            'Published Date':date_published[i].text},
                                           ignore_index=True)
    next_button = driver.find_element(By.XPATH, value='//a[@data-at="pagination-next"]')
    next_button.click()
    time.sleep(5)
driver.quit()

## Saving the Scraped Data in a CSV File

In [40]:
totaljobs_df.to_csv('Totaljobs_webscraping', index=False)

In [41]:
totaljobs_df

,Job Title,Company,Job Location,Salary,Published Date
0,Associate Data Scientist,DWP Digital,"LS1, Leeds",£31989 - £34285 per annum,Today
1,Data Scientist - NLP / Semantic Modelling / Le...,Shift F5,"City of London, London",£350 - £450 per day,Today
2,Data Scientist - Drug Discovery - OUTSIDE IR35,Hays Life Sciences,"CB2, Cambridge",£265.00 - £340.00 per day,Today
3,Associate Data Scientist,DWP Digital,"M1, Manchester",£31989 - £34285 per annum,Today
4,Data Scientist,BGL Insurance,"Orton Southgate, PE2 6YS",Unspecified,Recently
...,...,...,...,...,...
398,Senior Data Analyst,Method-Resourcing,London,£40000 - £50000 per annum,Posted 27 days ago
399,Senior Data Analyst,Method-Resourcing,London,£50000 - £55000 per annum,Posted 27 days ago
400,Senior Data Analyst - Technical,Method-Resourcing,London,£45000 - £50000 per annum,Posted 27 days ago
401,Senior Machine Learning Engineer - 100% remote,It Human Resources Plc,London,£63252.70 - £81324.90 per annum,Posted 24 days ago
402,Senior Data Analyst,Method-Resourcing,London,£50000 - £55000 per annum,Posted 34 days ago